.App {
  text-align: center;
  display: flex;
  background: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?cs=srgb&dl=ancient-antique-art-235985.jpg&fm=jpg);
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white;
  height: stretch;
  background-size: stretch;
}

.review-list{
  text-align:center;
  padding-left:0;
  list-style: none;
  -webkit-flex: auto;
  overflow-y: auto;
  height: 80%;
  width: 80%;
  padding-left: 15em;
  display:flex;
  flex-direction: column;
}
a:link{
  color:white;
}
a:hover{
  color:#e6ffff;
}
a:visited{
  color:black;
}
.solo-review{
  align-self: center;
  padding: 0 10% 0 10%;
  margin: 0 10% 0 10%;
  height:80%;
  width:80%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title{
  
  width:100%;
}
.delete{
  height:30px;
  padding: 0 0 0 40%;
}
.description{
  width:95%;
}
.opinion{
  width:95%;
}
.edit{
align-self: left;
}
